@mixin button {
    display: block;
    color: $text-white;
    padding: $p-button;
    font-size: $f-size-b;
    margin: auto;
    margin-bottom: $p-6;
    width: $w-button;
    background-color: $bg-dark;
    text-decoration: none;
    &:hover{
        background-color: $bg-gray;
        color: black;
    }
}