$fonts: "Lato", sans-serif;
$bg-primary:#f44336;
$bg-secondry:#656565;
$bg-white: #f1f1f1;
$text-white:#f1f1f1; 
$text-dark: #000000;
$text-secondry:#858585;
$text-gray: #656565;
$bg-dark: #000000;
$bg-gray: #aaaaaa;
$shadow: 2px 2px 10px rgb(150, 0, 0);
$p-8: 125px;
$p-7: 80px;
$p-6: 70px 120px;
$p-5: 50px;
$p-4: 25px;
$p-3: 15px;
$p-button: 12px 30px;
$w-button: 155px;
$f-size-b: 18px;
$f-size: 25px;
$f-size-h: 65px;
$f-size-a: 40px;